/* со шрифтом че то не так */
/* @import url('https://fonts.cdnfonts.com/css/motiva-sans'); */
* {
  padding: 0;
  margin: 0;
}
body {
  width: 100vw;
  height: 100vh;

  background-color: #1e1e1e;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

textarea:focus, input:focus{
  outline: none;
}
span {
  display: block;
  position: absolute;
  color: #007acc;
  font-size: 60px;
  font-family: Motiva Sans;
  font-weight: bold;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}

@media (max-width:450px) {
  /* для мобилок */
}